body {
	margin: 0;
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
label {
	display: block;
	width: 200px;
	font-size: 14px;
}
input {
	display: block;
	width: 100px;
}
#cuerpo {
	height: 60%;
	position: relative;
	top: 162px;
}
#formaPrincipal {
	width: 600px;
}
#cuerpo h5 {
	color: red;
	background-color: white;
	border-bottom: dotted 2px red;
	padding-left: 30px;
	width: 570px;
}
#formaPrincipal {
	position: relative;
	left: 200px;
	margin: 0;
}
fieldset  {
	background-image: url('../picsChq/bges04.gif');
	border: none;
	height: 195px;
}
#IdUsername, #IdPassword, #IdPwdToken {
	position: relative;
	left: 100px;
}
#IdUsernameTxt, #IdPasswordTxt, #IdPwdTokenTxt {
	position: relative;
	left: 300px;
	top: -20px;
}
#reglas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	top: -20px;
}
#reglas h6 {
	font-size: 14px;
	margin: 0;
	margin-bottom: 5px;
}
#IdSubmit, #anclaAnterior {
	color:white;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	border: none;
	width: 72px;
	height: 20px;
}
#IdSubmit {
	position: relative;
	top: 45px;
	left: 390px;
	background-image: url(../picsChq/aceptar_of.gif);
	
}
#separador {
	width: 600px;
	position: relative;
	left: 0;
}
#anclaAnterior {
	display: block;
	position: relative;
	left: 500px;
	background-image: url(../picsChq/lin_of.GIF);
	text-decoration: none;
	padding-left: 5px;
	padding-top: 3px;
	width: 67px;
	height: 17px;
}
#titulo {
	position: relative;
	left: 200px;
}
#spanUsuario {
	position: relative;
	font-size: 12px;
	font-weight: bold;
	left: 200px;
	top: -12px;
}

#e2gif {
	top: 20px;
	left: 187px;
	width: 634px;
	height: 5px;
}
#e1gif {
	width: 5px;
	height: 5px;
	top: 20px;
	left: 182px;
}
#e8gif {
	width: 5px;
	height: 355px;
	left: 182px;
	top: 25px;
}
#e7gif {
	height: 5px;
	width: 5px;
	top: 379px;
	left: 182px;
}
#barraFondo {
	height: 5px;
	width: 635px;
	top: 379px;
	left: 186px;
}
#e5gif {
	width: 5px;
	height: 5px;
	top: 378px;
	left: 821px;
}
#bordeDerecho {
	width: 5px;
	height: 355px;
	top: 23px;
	left: 820px;
}
#e3gif {
	width: 5px;
	height: 5px;
	top: 20px;
	left: 821px;
}
#e3gif, #bordeDerecho, #e5gif, #barraFondo, #e7gif, #e8gif, #e1gif, #e2gif, #logoCheque {
	display: block;
	position:absolute;
}
div#encabezado{
	width: 100%;
	height: 25%;
}
#logoPrincipal {
	position: absolute;;
	width: 276px;
	height: 105px;
	display: block;
	top: 100px;
	left: 376px;
}
#logoCheque{
	position: absolute; 
	height: 52px; 
	width: 225px; 
	left: 667px; 
	top: 27px;
}
