label#pregunta {
	text-align: center;
	width: 33%;
}

img#IDImagen {
	
	left: 50%;
	top: 100%;
	width: 100px;
	height: 75px;
	align: center;
	
	border: 1px solid red;
}

input#IdImagenCorrecta {

	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	
	height: 20px;
    width: 120px;
    
    left: 200px;
    position: relative;
    top: 70px;
	
	background-image: url(../pics/imagen_correcta.gif);
	background-repeat: no-repeat;
	background-color: red;
}
input#IdCancelarEAI {
	background-image: url(../pics/can_of.gif);
	background-repeat: no-repeat;
	background-color: red;
	
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	
	height: 20px;
    width: 72px;
    
    left: 220px;
    position: relative;
    top: 70px;
}	

input#txtPasswordAnt {
    margin: 5px 5px 5px 51px;
    width: 100px;
}

input#txtPasswordNvo {
    margin: 5px 5px 5px 51px;
    width: 100px;
}

input#txtPasswordConf {
    margin: 5px 5px 5px 51px;
    width: 100px;
}	