body { 
  background-color: white;
  color: black;
}
#envoltura {
  width: 800px;
  height: 600px;
  font-family: Arial;
  font-size: medium;
  background-color: white;
}
#ubicacion {
  float: left;
  border: 2px solid #DCDCDC;
  width: 190px;
  height: 30%;
  background-image: url(../picsChq/lg_chd_sntndr.png);
  background-repeat: no-repeat;
}
#ubicacion p {
	border-bottom: solid red 1px;
	text-align: right;
	margin-top: 100px;
	
}
#contenido {
  width: 74%;
  height: 100%;
  float: right;
}
#cabecera {
  height: 8.5%;
  width: 98.5%;
  border: 2px solid #DCDCDC;
}
#cuerpo {
  height: 70%;
  width: 97%;
  border: 2px solid #DCDCDC;
  margin-top: 1%; 
  padding: 10px;
}
#migas {
  display: block;
  font-size: small;
  font-weight: bold;
}
#xhtmlPng {
  height: 31px; 
  width: 88px;
}
#cuerpo label {
	display: block;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}
#formulario fieldset {
	width: 350px;
	border: none;
}
#formulario fieldset legend {
	font-weight: bold;
}
#cuerpo input {
	display: block;
}
#lblTxtUsuario, #lblTxtPassword, #lblTxtOTP {
	margin-bottom: 10px;
	float: left;
}
#txtUsuario, #txtPassword, #txtOTP {
	margin-bottom: 10px;
	float: left;
	border: inset red;
}
#cuerpo input {
	width: 100px;
	display: block;
}
#cmdLimpiar, #cmdEnviar {
	float: left;
	background-color: white;
	color: red;
	border: outset 2px #D3D3D3;
}
#formulario {
	margin-top: 3em;
	margin-left: 20%;
}
#cmdEnviar {
	margin-right: 10px;
	margin-left: 0;
}
#cabecera {
	text-align: right;
	padding-right: 10px;
	font-size: xx-small; 
	padding-top: 10px; 
}
#lblTxtPasswordAnterior, #lblTxtPasswordNuevo, #lblTxtPasswordRepetir {
	margin-bottom: 10px;
	float: left;
}
#txtPasswordAnterior, #txtPasswordNuevo, #txtPasswordRepetir {
	float: left;
	margin-bottom: 10px;
	border: inset red;
}
#spnError {
   display: inline;
   color: red;
}
